<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="cxc">
      <ion-label>CxC</ion-label>
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="ventas">
      <ion-label>Ventas</ion-label>
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="compras">
      <ion-label>Compras</ion-label>
      <ion-icon name="bag"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="finazas">
      <ion-label>Finanzas</ion-label>
      <ion-icon name="stats-chart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
